.half-chunk {
  margin-bottom: 8px;
}

.button-override {
  background-color: #FF4C6B;
  border-color: #FF4C6B;
}

.headline {
  font-size: 26px;
  line-height: 1.1;
  color: #212121;
  max-height: 56px;
  overflow: hidden;
}

.secondary {
  color: #707070;
}

.avatar-overlap {
  margin-left: -16px;
}

.avatar-overlap .avatar {
  border: 1px solid white;
  background-color: #bbb;
}

.avatar-overlap:first-of-type {
  margin-left: 0;
}

.smaller {
  font-size: 0.85rem;
}

.card {
  border-color: white;
  box-shadow: 1px 1px 15px 5px #e8e6e6;
}
