.half-chunk {
  margin-bottom: 8px;
}

.button-override {
  background-color: #FF4C6B;
  border-color: #FF4C6B;
}

.headline {
  font-size: 26px;
  line-height: 1.1;
  color: #212121;
  max-height: 56px;
  overflow: hidden;
}

.button-filter {
  color: #0084FF;
  font-size: 16px;
  line-height: 12px;
  border: 1px solid #0084FF;
  border-radius: 999px;
  padding: 7px 15px;
  margin: 5px;
  margin-left: 0;
  background: none;
  display: inline;
  transition: all 0.2s ease-in-out;
}

.button-filterSelected {
  color: #fff;
  background: #0084FF;
}

.secondary {
  color: #707070;
}

.avatar-overlap {
  margin-left: -16px;
}

.avatar-overlap .avatar {
  border: 1px solid white;
  background-color: #bbb;
}

.avatar-overlap:first-of-type {
  margin-left: 0;
}

.smaller {
  font-size: 0.85rem;
}

.card {
  border-color: white;
  box-shadow: 1px 1px 15px 5px #e8e6e6;
}
